.card__back {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--wf-lightblue1);
    padding: 0 1.3em;
    font-size: 1em;
}

.card__back h3 {
    font-size: 1.2em;
    margin-top: 4em;
}

.card__back ul {
    padding: 0;
    list-style: none;
}

.card__back li {
    padding: .25em 0;
    margin: .25em 0;
}

.card__back a {
    font-size: 1.2em;
    padding: .5em;
    margin: .25em -.5em;
    color: white;
    transition-duration: 1s;
}

.card__back a:hover {
    background-color: black;
    color: var(--wf-orange0);
}

.card__back a i {
    font-size: 1.4em;
    vertical-align: middle;
}

@media screen and ( min-width: 1024px) {
    .card__back {
        padding: 0 4em 4em;
    }
    .card__back h3 {
        font-size: 1.5em;
    }
    .card__back .card__back a i {
        font-size: 1.2em;
    }
}