@media screen and (max-width: 1024px) {
    .card__about {
        text-align: center;
    }
    .card__about h3 {
        font-size: 1.2em;
    }
}

.card__about-icons {
    font-size: 2.5em;
    margin: 0 0 .4em;
}

.card__about-icons i {
    border-radius: 50%;
    padding: .2em;
    transition-duration: 1s;
}

.card__about-icons i:hover {
    background-color: black;
    color: var(--wf-orange0);
}