.card__title {
  list-style-type: none;
  text-shadow: 0.15em 0.15em 0.15em var(--wf-red4);
  font-family: Bungee;
  font-size: 1.5em;
  letter-spacing: 0.08em;
	opacity: 0.69;
	padding: 0;
}
