body {
	margin: 0;
	/* fancy linear gradient bg */
	background: linear-gradient(
		20deg,
		var(--wf-blue1),
		var(--wf-blue0) 30%,
		var(--wf-green4) 50%,
		var(--wf-blue1)
	);
}

main {
	background: url(../img/polyester_lite.png);
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
