

/* willfloyd.com contact page*/


/* IMPORTS (THANK YOU!) */

@import 'https://fonts.googleapis.com/css?family=Bungee|Open+Sans|Rubik';
@import '/css/normalize.css';
@import '/css/responsive.gs.12col.css';

/* BASIC STYLES */

body {
	font-family: Open Sans;
	padding-left: 60px;
	background-image: url(/img/bg/subtle-dark-grey.png);
	background-color:black;
	color: white;
}

nav {
	position: fixed;
	top:0;
	left:0;
	height: 90%;
	overflow-y: hidden;
	background-color: rgba(125,208,127,0.5);
	width:50px;
	text-align:center;
	-webkit-border-radius: 0 0 30px 30px;
	-moz-border-radius: 0 0 30px 30px;
	border-radius: 0 0 30px 30px;
}

#wf-logo{
	width:40px;
	margin:5px;
}

h1,h2 {
	font-family: Bungee;
	margin-top:0;
}

@media screen and (max-width:380px){
	span.hide-small{
		display:none !important;
	}
}

/* BUTTONS */

.btn {
  background-color: rgba(255,255,255,0.5);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: #113f23 !important;
  font-weight:bold;
  padding: .5em;
  border: solid #fff thin;
  text-decoration: none;
}
.btn:hover {
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-decoration: none;
}
.btn-block {
	display:block;
}
@media screen and (max-width:768px){
	.price div .btn{
		display:block;	
	}
}


/* CONTACT CARDS */

.container {
    margin-left: 0 !important;
}
.contact-card {
	background-color: rgba(255,255,255,0.7);
	color:black;
	padding: 1em 1em 2em 1em;
	margin:0 0 1em 0;
	-webkit-border-radius: 1em 0 0 1em;
	-moz-border-radius: 1em 0 0 1em;
	border-radius: 1em 0 0 1em;
}

/* CONTACT CARDS LARGE */

@media screen and (min-width:768px){
	.contact-card {
		-webkit-border-radius: 1em !important;
		-moz-border-radius: 1em;
		border-radius: 1em !important;
	}
}